
body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
}

.login-box {
    margin-top: 75px;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
    display: flex;
}

.loginbttm {
    padding: 0px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
#navbar
{
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background: black;
    
}
#navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: #29f700 !important;
    
}
#navbar a{
    color: black;
    border-bottom: 2px solid transparent;
    font-weight: bold;

}
#navbar a:hover{
    border-bottom: 2px solid #29f700;
}
#navbar button i {
    background: #29f700!important;
    width: 6rem;
    border-radius: 5px;
    font-weight: bold;
}






section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




/****Home****/
#home{
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),url(bg.kinf.jpg);
    background-size: cover;
    background-position: center;
}
#home h1{
    font-size: 50px;
    color: white;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px #000,;
}
#home p{
    font-size: 18px;
    color: #fff;
}
#home .input-group{
    width: 40%;
    height: 30px;
    margin-bottom: 10%;
    box-shadow: #000;
}
.signin{
    background: green !important;
    color: white !important;
    box-shadow: 2px 4px 5px rgba(0,0,0,.3);
}
#about{
    background: linear-gradient(to right,#ea1d6f,#eb466b 100%);
}
#about h1{
    font-weight: 800;
    font-size: 50px;
    color: white;
}
#about p{
    color: white;
}
/*****Products*****/
#product{
    background: #e5e5e5;
}
#product h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;

}
#product img{
    width: 200px;
    height: 200px;
}
.card{
    width: 250px;
    height: 300px;
    background: #e5e5e5 !important;
    border: none !important;
    box-shadow: 30px 20px 20px rgba(0,0,0,0.3),
                inset 4px 4px 10px white;
    border-radius: 20px !important;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 20px 60px;
}
.card:hover{
    box-shadow:  inset 5px 5px 10px rgba(0,0,0,0.3),
                inset -4px -4px 10px white;
    transition: 3s;
}




/*****Contact*****/


#contact img{
    height: 100%;
    justify-content: center;
    background-position: center;
    font-weight: bold;
    color: #000;
    width: 100%;
}
#contact h1{
    color: #000 !important;
    font-weight: bold;
}
.box{
    width: 80% !important;
    margin-top: 10px;
}    
form{
    display: flex;
    flex-direction: column;
    
}
#contact input{
    margin: 10px 0px;

}
#contact text{
    margin: 10px 0px;
}
footer{
    width: 100%;
    height: 30px;
    
    margin-top: -30px;
    text-decoration: underline;
    text-align: right;
    color: black;
    padding: 3px;
    
}

